<div>
	<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      </div>
    </div>
  </div>
</nav>
</div>
<!-- cheak in-->


	<!-- code here -->
	<div class="card">
		<div class="card-image">	
			<h2 class="card-heading">
				cheak in
			</h2>
		</div>
		<form class="card-form">
			<div class="input">
				<input type="text" class="input-field"  placeholder="0000 0000"/>
				<label class="input-label">Enter code</label>
			</div>	
			<div class="action">
				<button class="action-button">cheak in</button>
			</div>
		</form>
	
	</div>
	<div class="card">
		<div class="card-image">	
			<h2 class="card-heading">
				cheak out
			</h2>
		</div>
		<form class="card-form">
			<div class="input">
				<input type="text" class="input-field"  placeholder="0000 0000"/>
				<label class="input-label">Enter code</label>
			</div>	
			<div class="action">
				<button class="action-button">cheak out</button>
			</div>
		</form>
	
	</div>

<div class="card">
	<div class="card-image">	
		<h2 class="card-heading">
			cheak out
		</h2>
	</div>
	<form class="card-form">
		<div class="input">
			<input type="text" class="input-field" value="0000 0000" required/>
			<label class="input-label">Enter code</label>
		</div>	
		<div class="action">
			<button class="action-button">cheak out</button>
		</div>
	</form>

</div>